*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-image: url('assates/image/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}
 body header {
    display: flex;
    
}
header img {
   
    height: 50px;
    width: 50px;
    padding: 100px 200px 0 100px;
    margin: 10px;
}

header nav > ul  {
    
    display: flex;
    padding: 100px 0 0 0;
    text-align: center;    
    
}
nav li{
    list-style: none;
    margin: 10px;
    font-size: 28px;
    
}
nav li a{
    text-decoration: none;
}
nav li .one{
    display: none;
    position:absolute;
    text-align: left;

}
nav li:hover .one{
    display: block;
    background-color: rgba(240, 248, 255, 0.16);

}
body #contact {
    text-align: right;
    color: aliceblue;
}
.image1 img{
    display: flex;
    height: 500px;
    width: 350px;
    


}
body .text-and-image{
    display:flex;
    max-resolution: 5px;

    padding: 100px 30% ;
}
.aeticle1{
    font-size: 20px;
    padding: 100px 0 0 0 ;
    font-family: 'Times New Roman', Times, serif;
    
    
}
footer{
    margin: o;
}
footer .row{
    display: flex;
    margin-top: o;
    
    
}
footer div .column{
    width: 33.33%;
    height: 300px;
    margin-right: 2px;
    border: 5px;
    border-color: black;
    
    
}
footer h2{
    padding-top: 20px;
}

